<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <redmonks_improvedlayerednavigation>
            <general>
                <enable>1</enable>
                <ajax>1</ajax>
            </general>
        </redmonks_improvedlayerednavigation>
    </default>
</config>
